<p class="about"><strong class="about-strong">APW</strong> является учебным приложением,
    разрабатываемым в рамка курса Software Architect компании <a class="about-link" target="_blank" href="http://www.otus.ru">OTUS&reg;</a> и предназначено
    для автоматизации складского предприятия. Предполагается, что на основе данного проекта будет реализовано полноценное приложение
    по управлению складским хозяйством группы компаний <a class="about-link" target="_blank" href="http://www.legion.ru">Legion&reg;</a>. Данное приложение реализовано
    с использованием программных средств Microsoft&reg;&nbsp;SQL&nbsp;Server&trade;, Angular&reg;, node.js&reg; и Express&reg;.
    </p>
    