<p class="action-header">Клиенты компании</p>
<div class="table-container" *ngIf="!editMode">
    <table mat-table [dataSource]="clients" matSort matSortActive="ContactName" matSortDisableClear matSortDirection="asc">
        <ng-container matColumnDef="Open" [sticky]="true" *ngIf="menuItemEnabled('8F33328C-8E6D-4B7C-AAA2-EA6FB6E6F3F5') && menuItemEnabled('EB200FE1-D0A3-4EE3-A818-2CFEAEBFD1BF')">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear></th>
            <td mat-cell *matCellDef="let row">
                <span (click)="editClient(row)" class="editAction"></span>
            </td>
        </ng-container>
        <ng-container matColumnDef="Status" [sticky]="true"> <!--*ngIf="menuItemEnabled('8F33328C-8E6D-4B7C-AAA2-EA6FB6E6F3F5') && menuItemEnabled('EB200FE1-D0A3-4EE3-A818-2CFEAEBFD1BF')">-->
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear></th>
            <td mat-cell *matCellDef="let row">
                <span [ngClass]="{
                    'clientStatus-active': row.StatusID==1,
                    'clientStatus-paused': row.StatusID==2,
                    'clientStatus-stopped': row.StatusID==3
                }"></span>
            </td>
        </ng-container>
        <ng-container matColumnDef="ClientName" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Клиент</th>
            <td mat-cell *matCellDef="let row">{{row.ClientName}}</td>
        </ng-container>
        <ng-container matColumnDef="ContactName" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Контакт</th>
            <td mat-cell *matCellDef="let row">{{row.ContactName}}</td>
        </ng-container>
        <ng-container matColumnDef="EMail">
            <th mat-header-cell *matHeaderCellDef>Эл. почта</th>
            <td mat-cell *matCellDef="let row">{{row.EMail}}</td>
        </ng-container>
        <ng-container matColumnDef="Phone">
            <th mat-header-cell *matHeaderCellDef>Телефон</th>
            <td mat-cell *matCellDef="let row">{{row.Phone}}</td>
        </ng-container>
        <ng-container matColumnDef="Address">
            <th mat-header-cell *matHeaderCellDef>Адрес</th>
            <td mat-cell *matCellDef="let row">{{row.Address}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}"
            (click)="highlightDrop(); row.highlighted = !row.highlighted"
            (mouseover)="row.hovered = true"
            (mouseout)="row.hovered = false">
        </tr>
    </table>
</div>
<mat-paginator [length]="resultsLength" [pageSize]="40" *ngIf="!editMode"></mat-paginator>

<div *ngIf="editMode && menuItemEnabled('8F33328C-8E6D-4B7C-AAA2-EA6FB6E6F3F5') && menuItemEnabled('EB200FE1-D0A3-4EE3-A818-2CFEAEBFD1BF')" class="client-edit">
    <p class="form-header">{{selectedClient.ClientName}}</p>
    <form class="form-parameters" [formGroup]="fgClientsParameters">
        <label class="form-parameters-contact-header">Контактное лицо:</label><input type="text" formControlName="ctrlContactName" class="form-parameters-contact-value">
        <label class="form-parameters-email-header">Эл. почта:</label><input type="text" formControlName="ctrlEMail" class="form-parameters-email-value">
        <label class="form-parameters-phone-header">Телефон:</label><input type="text" formControlName="ctrlPhone" class="form-parameters-phone-value">
        <label class="form-parameters-address-header">Адрес:</label><input type="text" formControlName="ctrlAddress" class="form-parameters-address-value">
        <input type="button" class="form-parameters-button-save" (click)="trySave()" value="Сохранить" [disabled]="fgClientsParameters.invalid">
        <input type="button" class="form-parameters-button-cancel" (click)="cancelEdit()" value="Отмена">
        <p class="action-message">{{actionMessage}}</p>
    </form>
    
    <div *ngIf="!indicatorHidden" class="process-indicator">
        <div class="process-indicator__mark">
            <div class="process-indicator__mark-circle process-indicator__mark-circle-1"></div>
            <div class="process-indicator__mark-circle process-indicator__mark-circle-2"></div>
            <div class="process-indicator__mark-circle process-indicator__mark-circle-3"></div>
            <div class="process-indicator__mark-circle process-indicator__mark-circle-4"></div>
            <div class="process-indicator__mark-circle process-indicator__mark-circle-5"></div>
            <div class="process-indicator__mark-circle process-indicator__mark-circle-6"></div>
            <div class="process-indicator__mark-circle process-indicator__mark-circle-7"></div>
            <div class="process-indicator__mark-circle process-indicator__mark-circle-8"></div>
        </div>
    </div>
</div>
