<div class="main">
    <div class="menu">
        <a [routerLink]="['/clients']" class="menu__item menu__item-place" *ngIf="menuItemEnabled('8F33328C-8E6D-4B7C-AAA2-EA6FB6E6F3F5')">Клиенты</a>
        <a [routerLink]="['/clients/register']" class="menu__item__subitem menu__item__subitem-place" *ngIf="menuItemEnabled('8F33328C-8E6D-4B7C-AAA2-EA6FB6E6F3F5') && menuItemEnabled('E024287A-5AA1-45C8-8FAB-3F523901F407')">Создать</a>
        <input type="text" [formControl]="searchClient" placeholder="Поиск" class="menu__item__subitem-input menu__item__subitem-input-place" *ngIf="menuItemEnabled('8F33328C-8E6D-4B7C-AAA2-EA6FB6E6F3F5')">
        <a [routerLink]="['/requests']" class="menu__item menu__item-place" *ngIf="menuItemEnabled('741862B2-88CE-417E-9712-8AE52FEED2B4')">Заявки</a>
        <a [routerLink]="['/requests/register']" class="menu__item__subitem menu__item__subitem-place" *ngIf="menuItemEnabled('741862B2-88CE-417E-9712-8AE52FEED2B4') && menuItemEnabled('8C7849A5-9D85-4D35-AC34-8AE038BAA755')">Создать</a>
        <a [routerLink]="['/requests/new']" class="menu__item__subitem menu__item__subitem-place" *ngIf="menuItemEnabled('741862B2-88CE-417E-9712-8AE52FEED2B4')">Новые</a>
        <a [routerLink]="['/requests/active']" class="menu__item__subitem menu__item__subitem-place" *ngIf="menuItemEnabled('741862B2-88CE-417E-9712-8AE52FEED2B4')">Активные</a>
        <a [routerLink]="['/requests/archive']" class="menu__item__subitem menu__item__subitem-place" *ngIf="menuItemEnabled('741862B2-88CE-417E-9712-8AE52FEED2B4') && menuItemEnabled('6036B772-B223-4D33-BAF7-FB0983A0A610')">Архив</a>
        <input type="text" [formControl]="searchRequest" placeholder="Поиск" class="menu__item__subitem-input menu__item__subitem-input-place" *ngIf="menuItemEnabled('741862B2-88CE-417E-9712-8AE52FEED2B4')">
        <a [routerLink]="['/storage']" class="menu__item menu__item-place" *ngIf="menuItemEnabled('37D27C9E-AADA-46D3-9C2E-BD637D72D926')">Хранилище</a>  
        <a [routerLink]="['/users']" class="menu__item menu__item-place" *ngIf="menuItemEnabled('2BD877D3-AD0E-4404-86B8-6F7E252DEFD8')">Пользователи</a>  
        <a [routerLink]="['/users/register']" class="menu__item__subitem menu__item__subitem-place" *ngIf="menuItemEnabled('2BD877D3-AD0E-4404-86B8-6F7E252DEFD8') && menuItemEnabled('8FB67BD9-8512-4231-B729-50885A3E67A3')">Создать</a>  
        <input type="text" [formControl]="searchUser" placeholder="Поиск" class="menu__item__subitem-input menu__item__subitem-input-place" *ngIf="menuItemEnabled('2BD877D3-AD0E-4404-86B8-6F7E252DEFD8')">
        <input type="button" (click)="test()">      
    </div>
    <div class="view">
        <router-outlet></router-outlet>
    </div>
</div>
